{% extends 'payments/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'payments/css/tt.css' %}">
{% endblock %}
{% block content %}
<div class="coffee-container">
    <h2>Choose the coffee you want to buy</h2>

    {% for coffee in coffee_list %}
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <div class="coffee-item">
            <img src="/static/payments/images/{{coffee.image}}" alt="{{ coffee.name }}">
            <input type="hidden" name="name" value="{{ coffee.name }}">
            <input type="hidden" name="image" value="{{ coffee.image }}">
            <input type="hidden" name="price" value={{ coffee.price }}>
             <input type="hidden" name="form_type" value="ttf">

            <button type="submit">{{ coffee.name }} - {{ coffee.price }} Rs</button>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}
